backoff
bpy
fastapi
groq
langchain
langchain_community
langchain_core
langchain_deepseek
langgraph
langserve
mathutils
numpy
Pillow
problog
pydantic
pyswip
pytest
python-dotenv
retrying
torch
torchvision
tqdm
uvicorn
